<div class="box-shadow" ng-controller="changePasswordCtrl as vm" ng-init="vm.init();">
    <div class="not-printable"> 
        <!-- begin picker -->
        <div class="col-xs-12 bg-white-light pdt10">
             <div ng-if="vm.errorMsg" uib-alert class="alert-danger m10" close="vm.closeMessage()" dismiss-on-timeout="10000">{{vm.errorMsg}}</div>
            <div ng-if="vm.successMsg" uib-alert class="alert-success m10" close="vm.closeMessage()" dismiss-on-timeout="10000">{{vm.successMsg}}</div>
            <form name="changePassFrm" ng-submit="vm.changePassword(changePassFrm)">
                <div sf-options="vm.frmGlobalOptions" sf-schema="vm.schema" sf-form="vm.form" sf-model="vm.model"></div>
                <div><button class="btn btn-primary" type="submit">Change</button></div>
            </form>
        </div>
    </div>
</div>