<section class="page-inner" ng-controller="swDashboardCtrl as vm" ng-init="vm.init();">
    <div class="col-xs-12">
        <div ng-include="'/lorawan-app/view/views/dashboard/summary.html'"></div>
        <div ng-if="vm.deviceKey == null" style="
                                                 height: 90px;
                                                 line-height: 90px;
                                                 text-align: center;
                                                 color: #ff8c00;
                                                 font-size: 1em;
                                                 " class="ng-scope">
            <div>{{'NOKEYTEXT' | translate}} </div>
            <div style="font-size: 3em;">
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> 
            </div>
        </div>
        <div gridster="vm.gridsterOptionsMB" ng-if="vm.deviceKey != null">
          <ul>

            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 0, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.temperature.value"
                                 disabled="!vm.selectedDevice.temperature.value"
                                 label="{{'TEMP' | translate}}"
                                 unit="&deg;C"
                                 icon="https://convergia-cdn.s3.amazonaws.com/temperature.png"
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag="temperature"
                                 border-color="#fff"
                                 background="#fff"
                                 label-text-color="#612480"
                                 label-text-alignment="left"
                                 unit-text-color="#5e5e5e"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
            <!--<li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 1, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.battery.value"
                                 disabled="!vm.selectedDevice.battery.value"
                                 label="Battery"
                                 unit="%"
                                 icon="https://convergia-cdn.s3.amazonaws.com/battery.png"
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag="battery"
                                 border-color="#fff"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="left"
                                 unit-text-color="#5e5e5e"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>-->
            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 1, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.humidity.value"
                                 disabled="!vm.selectedDevice.humidity.value"
                                 label="{{'HUMID' | translate}}"
                                 unit="%"
                                 icon="https://convergia-cdn.s3.amazonaws.com/humidity.png"
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag="humidity"
                                 border-color="#fff"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="left"
                                 unit-text-color="#5e5e5e"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 2, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.pressure.value"
                                 disabled="!vm.selectedDevice.pressure.value"
                                 label="{{'PRESS' | translate}}"
                                 unit="Pa"
                                 icon="https://convergia-cdn.s3.amazonaws.com/pressure.png"
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag="pressure"
                                 border-color="#fff"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="left"
                                 unit-text-color="#5e5e5e"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 3, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.wind_direction.value"
                                 disabled="!vm.selectedDevice.wind_direction.value"
                                 label="{{'WINDIR' | translate}}"
                                 unit=""
                                 icon="https://convergia-cdn.s3.amazonaws.com/wind_dir.png"
                                 
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag=""
                                 border-color="#fff"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="left"
                                 unit-text-color="#5e5e5e"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 4, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.anemometer.value"
                                 disabled="!vm.selectedDevice.anemometer.value"
                                 label="{{'ANEMO' | translate}}"
                                 unit="km/h"
                                 icon="https://convergia-cdn.s3.amazonaws.com/wind_speed.png"
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag="anemometer"
                                 border-color="#fff"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="left"
                                 unit-text-color="#5e5e5e"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
					</ul>
        </div>




				<div gridster="vm.gridsterOptions" ng-if="vm.deviceKey != null" class="innergrid">
          <ul>
						<li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 1, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.pluviometer_1.value"
                                 disabled="!vm.selectedDevice.pluviometer_1.value"
                                 label="{{'RAINCH' | translate}}"
                                 unit="mm/h"
                                 icon=""
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag=""
                                 border-color="#f6a000"
                                 background="#fff"
                                 label-text-color="#612480"
                                 label-text-alignment="center"
                                 unit-text-color="#5e5e5e"
                                 unit-text-alignment="left"
                                 value-text-alignment="right"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 2, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.pluviometer_2.value"
                                 disabled="!vm.selectedDevice.pluviometer_2.value"
                                 label="{{'RAINPH' | translate}}"
                                 unit="mm/h"
                                 icon=""
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag=""
                                 border-color="#f6a000"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="center"
                                 unit-text-color="#5e5e5e"
                                 unit-text-alignment="left"
                                 value-text-alignment="right"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 3, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.pluviometer_3.value"
                                 disabled="!vm.selectedDevice.pluviometer_3.value"
                                 label="{{'RAINAC' | translate}}"
                                 unit="mm/h"
                                 icon=""
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag=""
                                 border-color="#f6a000"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="center"
                                 unit-text-color="#5e5e5e"
                                 unit-text-alignment="left"
                                 value-text-alignment="right"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>
            <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 4, row: 0 }'>
              <scriptr-metricbox 
                                 transport="wss" 
                                 value="vm.selectedDevice.soil_moisture.value"
                                 disabled="!vm.selectedDevice.soil_moisture.value"
                                 label="{{'SOIL' | translate}}"
                                 unit="Hz"
                                 icon=""
                                 action-icon="https://convergia-cdn.s3.amazonaws.com/chart_link.png"
                                 on-action-clicked="vm.metricBoxClicked"
                                 tag=""
                                 border-color="#f6a000"
                                 background="#fff"
                                 label-text-color="#761f86"
                                 label-text-alignment="center"
                                 unit-text-color="#5e5e5e"
                                 unit-text-alignment="left"
                                 value-text-alignment="right"
                                 value-text-color="#5e5e5e"
                                 background-color="#fff"
                                 >
              </scriptr-metricbox>
            </li>



            <li class="myItem" gridster-item='{sizeX: 3, sizeY: 3, col: 0, row: 1 }'>
                <select class="select-chart" ng-model="vm.selectedGraphLeft" ng-options="t.name for t in vm.graph">
                </select>
                <div class="slide-animate-container">
                  <div class="slide-animate" ng-include="vm.selectedGraphLeft.url"></div>
                </div>
              </li>

              <li class="myItem" gridster-item='{sizeX: 3, sizeY: 3, col: 4, row: 1 }'>
                <select class="select-chart" ng-model="vm.selectedGraphRight" ng-options="t.name for t in vm.graph">
                </select>
                <div class="slide-animate-container">
                  <div class="slide-animate" ng-include="vm.selectedGraphRight.url"></div>
                </div>
              </li>
          </ul>
        </div>
    </div>
</section>
